@import 'settings/settings-layout';
@import 'settings/settings-selectors';
@import 'settings/settings-sizes';
@import 'tools/tools-decoration';
@import 'tools/tools-colours';
@import 'tools/tools-helpers';
@import 'tools/tools-media';

/* Component - Tweets
----------------------------------------------- */

$base-selector: '.c-tweets';

#{ $base-selector } {

	@include t-last-child;
	@include t-loader-overlay(t-colour(tertiary), 30px);
	padding: t-rem(($s-base-gutter * 4) $s-base-gutter);

	@include t-respond-to-min(large) {
		padding-left: $s-base-gutter * 2;
		padding-right: $s-base-gutter * 2;
	}
}