@import 'tools/tools-colours';
@import 'tools/tools-helpers';
@import 'tools/tools-layout';

/* Component - Hero
----------------------------------------- */

$base-selector: '.c-featured-links';

/* stylelint-disable max-nesting-depth */
#{ $base-selector } {
	@include t-constraint;
	display: flex;
	flex-flow: row wrap;
}

#{ $base-selector }__item {
	@include t-responsive-vertical-spacing(large, (margin-bottom, padding-bottom));
	color: t-colour(tertiary);
	position: relative;
	width: 100%;

	@include t-respond-to-min(large) {
		margin-bottom: 0;
		padding-bottom: 0;
		width: 33.333%;
	}

	&::after {
		background-color: t-colour(tertiary);
		bottom: t-rem(-1px);
		content: '';
		height: t-rem(3px);
		position: absolute;
		right: 0;
		transform: translate(-50%, 0);
		width: 50%;

		@include t-respond-to-min(large) {
			bottom: auto;
			height: t-rem(80px);
			right: 0;
			top: calc(100% - 160px);
			transform: translate(0, -50%);
			width: t-rem(3px);
		}
	}

	&:last-child {

		/* stylelint-disable declaration-no-important */
		margin-bottom: 0!important;
		padding-bottom: 0!important;

		/* stylelint-enable declaration-no-important */

		&::after {
			display: none;
		}
	}
}

/* stylelint-enable */