@import 'settings/settings-layout';
@import 'tools/tools-colours';
@import 'tools/tools-helpers';
@import 'tools/tools-layout';

/* Component - Hero
----------------------------------------- */

$base-selector: '.c-featured-links';

/* stylelint-disable max-nesting-depth */
#{ $base-selector } {
	@include t-constraint;
	color: t-colour(tertiary);

	> .b-grid-row .b-grid-row__col {
		
		.c-featured-link {
			@include t-vertical-spacing(xlarge, padding-bottom);
			position: relative;
			
			&::after {
				background-color: t-colour(tertiary);
				bottom: t-rem(-1px);
				content: '';
				height: t-rem(3px);
				position: absolute;
				right: 0;
				transform: translate(-50%, 0);
				width: 50%;
			}

			@include t-respond-to-min(medium) {
				padding-bottom: 0;

				&::after {
					bottom: 0;
					height: 50%;
					right: 0;
					transform: translate(0, -50%);
					width: t-rem(3px);
				}
			}
		}
	}
}

#{ $base-selector }__item {
	@include t-responsive-vertical-spacing(large, margin-bottom);

	@include t-respond-to-min(medium) {
		margin-bottom: 0;
	}
}

/* stylelint-enable */