/* Animations
----------------------------------------- */

@keyframes a-center-rotation {
	
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes a-fade {

	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes a-slide-up {

	from {
		transform: translateY(-100%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes a-slide-down {

	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes a-slide-left {

	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes a-slide-right {

	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}