// Settings - Colours
// -------------------------

/// $s-colours
/// Establishes a map containing colour values and any corresponding tones.
///
/// @example
/// $s-colours: (
///     black: (
/// 		base: #000000
///     ),
///     white: (
/// 		base: #FFFFFF
///     )
/// );
$s-colours: (
	primary: (
		base: #3AA9D8,
		dark: #009DD1
	),
	secondary: (
		light: #E8E8E8,
		base: #333333
	),
	tertiary: (
		base: #FFFFFF
	),
	quaternary: (
		base: #000000
	),
	social: (
		base: #000000,
		facebook: #3B5998,
		twitter: #4099FF,
		linkedin: #0E76A8
	)
);
