// Settings - Selectors
// -------------------------

$s-active-selector: '.is-active';
$s-animated-selector: '.is-animated';
$s-animation-enabled-selector: '.animation-is-enabled';
$s-docked-selector: '.is-docked';
$s-hidden-selector: '.is-hidden';
$s-loading-selector: '.is-loading';
$s-scrolled-selector: '.is-scrolled';
$s-transition-selector: '.is-in-transition';
