// Settings - Layout
// -------------------------

$s-grid-columns: 12;
$s-grid-gutter: 0;

$s-site-width: (
	min: 600px,
	max: 1200px
);

$s-base-gutter: 20px;

/// $s-vertical-spacing
/// Establishes a map containing vertical layout spacing values at each defined breakpoint.
///
/// @example
/// $s-vertical-spacing: (
/// 	small: (
/// 		small: 10px,
/// 		medium: 20px
/// 	),
/// 	medium: (
/// 		small: 20px,
/// 		medium: 40px
/// 	),
/// 	large: (
/// 		small: 30px,
/// 		medium: 60px
/// 	)
/// );
$s-vertical-spacing: (
	xsmall: (
		small: 8px,
		medium: 12px
	),
	small: (
		small: 16px,
		medium: 24px
	),
	medium: (
		small: 24px,
		medium: 32px
	),
	large: (
		small: 32px,
		medium: 40px
	),
	xlarge: (
		small: 40px,
		medium: 56px
	),
	xxlarge: (
		small: 56px,
		medium: 64px
	),
	xxxlarge: (
		small: 64px,
		medium: 70px
	)
);

/// $s-layers
/// Establishes a map containing z-index layers.
///
/// @example
/// $s-layers: (
/// 	0: 0,
/// 	1: 1,
/// 	2: 10,
/// 	3: 100,
/// 	4: 1000
/// );
$s-layers: (
	0: 0,
	1: 1,
	2: 10,
	3: 100,
	4: 1000
);