// Settings - Transitions
// -------------------------

/// $s-stransitions
/// Establishes a map containing global transition settings.
///
/// @example
/// $s-breakpoints: (
///		slide: 0.5s ease-in
/// );
$s-transitions: (
	button: 0.3s ease-out,
	header: 0.25s ease-in,
	loader: 0.3s ease-in
);
