// Settings - Typography
// -------------------------

/// $s-fonts
/// Establishes a map containing a series of font files located in the specified fonts directory.
///
/// @example
/// $s-fonts: (
/// 	'FontName': (
/// 		file: 'font-file-name',
/// 		weight: normal,
/// 		stack: '"FontName", Arial, Helvetica, sans-serif'
/// 	)
/// );
$s-fonts: (
	'BebasNeue': (
		file: 'BebasNeue',
		name: 'BebasNeue',
		stack: '"BebasNeue", Arial, Helvetica, sans-serif',
		style: normal,
		weight: normal
	),
	'OpenSans-light': (
		file: 'OpenSans-light',
		name: 'OpenSans',
		stack: '"OpenSans", Arial, Helvetica, sans-serif',
		style: normal,
		weight: 300
	),
	'OpenSans-regular': (
		file: 'OpenSans-regular',
		name: 'OpenSans',
		stack: '"OpenSans", Arial, Helvetica, sans-serif',
		style: normal,
		weight: 400
	),
	'OpenSans-semibold': (
		name: 'OpenSans',
		file: 'OpenSans-semibold',
		stack: '"OpenSans", Arial, Helvetica, sans-serif',
		style: normal,
		weight: 700
	)
);

/// $s-type-sizing
/// Establishes a map containing abstract font-sizing declarations with matching breakpoint specifications.
///
/// @example
/// $s-type-sizing: (
/// 	abstract: (
/// 		small: (
/// 			font-size: 10px,
/// 			line-height: 1.5
/// 		),
/// 		medium: (
/// 			font-size: 20px,
/// 			line-height: 2
/// 		)
/// 	)
/// );
$s-type-sizing: (
	small: (
		small: (
			font-size: 16px,
			line-height: 1.5
		),
		medium: (
			font-size: 18px,
			line-height: 1.5
		)
	),
	medium: (
		small: (
			font-size: 24px,
			line-height: 1.5
		),
		medium: (
			font-size: 36px,
			line-height: 1.5
		)
	),
	large: (
		small: (
			font-size: 36px,
			line-height: 1.5
		),
		medium: (
			font-size: 46px,
			line-height: 1.5
		),
	),
	xlarge: (
		small: (
			font-size: 46px,
			line-height: 1.5
		),
		medium: (
			font-size: 60px,
			line-height: 1.5
		)
	),
	xxlarge: (
		small: (
			font-size: 60px,
			line-height: 1.25
		),
		medium: (
			font-size: 98px,
			line-height: 1.25
		)
	),
	xxxlarge: (
		small: (
			font-size: 98px,
			line-height: 1.25
		),
		medium: (
			font-size: 144px,
			line-height: 1.25
		)
	)
);

$s-base-font-size: 16px;
$s-base-line-height: 1;
