// Settings - Colours
// -------------------------

/// $s-colours
/// Establishes a map containing colour values and any corresponding tones.
///
/// @example
/// $s-colours: (
///     black: (
/// 		alpha: #000000
///     ),
///     white: (
/// 		alpha: #FFFFFF
///     )
/// );
$s-colours: (
	primary: (
		alpha: #3AA9D8
	),
	secondary: (
		alpha: #333333,
		bravo: #E8E8E8,
		charlie: #3F3F3F,
		delta: #BABABA
	),
	tertiary: (
		alpha: #FFFFFF
	),
	quaternary: (
		alpha: #000000
	),
	quinary: (
		alpha: #E57C93
	),
	social: (
		alpha: #000000,
		facebook: #3B5998,
		twitter: #4099FF,
		linkedin: #0E76A8
	)
);
