// Settings - Selectors
// -------------------------

$s-active-selector: '.is-active';
$s-animated-selector: '.is-animated';
$s-animation-enabled-selector: '.animation-is-enabled';
$s-disabled-selector: '.is-disabled';
$s-hidden-selector: '.is-hidden';
$s-loading-selector: '.is-loading';
