// Settings - Typography
// -------------------------

/// $s-fonts
/// Establishes a map containing a series of font files located in the specified fonts directory.
///
/// @example
/// $s-fonts: (
/// 	'FontName': (
/// 		file: 'font-file-name',
/// 		weight: normal,
/// 		stack: '"FontName", Arial, Helvetica, sans-serif'
/// 	)
/// );
$s-fonts: ();

/// $s-type-sizing
/// Establishes a map containing abstract font-sizing declarations with matching breakpoint specifications.
///
/// @example
/// $s-type-sizing: (
/// 	abstract: (
/// 		small: (
/// 			font-size: 10px,
/// 			line-height: 1.5
/// 		),
/// 		medium: (
/// 			font-size: 20px,
/// 			line-height: 2
/// 		)
/// 	)
/// );
$s-type-sizing: ();

$s-base-font-family: 'Helvetica', 'Arial', sans-serif;
$s-base-font-size: 16px;
$s-base-line-height: 1;
