// TODO: Check all these imports are still required.
@import 'tools/tools-colours';
@import 'tools/tools-layout';
@import 'tools/tools-typography';

/* Component - Projects
----------------------------------------- */

$base-selector: '.c-projects';

#{ $base-selector } {

	@include t-respond-to-min(medium) {
		background-color: t-colour(secondary);
	}
}

#{ $base-selector }__container {
	@include t-constraint($min-gutter: 0);
}

#{ $base-selector }__content {
	background-color: t-colour(secondary);
	height: 100%;

	&--posters {
		background-color: t-colour(tertiary);
	}

	.c-carousel__control-button {
		background-color: t-colour(tertiary);

		&--prev {
			background-image: svg-load('gb_arrow-left.svg', fill=t-colour(primary));
		}

		&--next {
			background-image: svg-load('gb_arrow-right.svg', fill=t-colour(primary));
		}
	}

}