/* Base - Typography
----------------------------------------- */

@import '~settings/settings-typography';
@import '~tools/tools-typography';

/// Type Placeholders / Classes
/// Iterates through the $s-type-sizing map to render a class and placeholder for each font-size.
@each $type in map-keys($s-type-sizing) {

	%b-type--#{$type}, .b-type--#{$type} {
		@include t-responsive-type-size($type);
	}
}

html {
	font-size: $s-base-font-size;
	line-height: $s-base-line-height;
}

body {
	@include t-responsive-type-size(small);
	@include t-font('OpenSans-regular');
}

* {
	margin-top: 0;
} 