@import 'animations/animations';
@import 'settings/settings-selectors';
@import 'settings/settings-transitions';
@import 'tools/tools-colours';
@import 'tools/tools-decoration';
@import 'tools/tools-helpers';
@import 'tools/tools-layout';

/* Template - Default
----------------------------------------- */

$base-selector: '.t-base';
$loading-icon-size: 40px;

#{ $base-selector } {
	position: relative;

	&#{ $s-loading-selector } {

		&::before,
		&::after {
			animation: a-fade map-get($s-transitions, loader); /* stylelint-disable-line no-unknown-animations */
		}

		&::before {
			@include t-layer(4);
			background-color: t-colour(tertiary);
			content: '';
			height: 100vh;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;

			@include t-respond-to-max(medium) {
				animation: none;
			}
		}

		&::after {
			@include t-absolute-center;
			@include t-layer(4, 1);
			@include t-loader(t-colour(secondary), $loading-icon-size);
			content: '';
			position: fixed;
		}
	}
}