@import 'settings/settings-selectors';
@import 'tools/tools-colours';
@import 'tools/tools-helpers';
@import 'tools/tools-layout';

/* Template - Default
----------------------------------------- */

$base-selector: '.t-base';
$loading-icon-size: 40px;

#{ $base-selector } {
	position: relative;

	&#{ $s-loading-selector } {

		&::before {
			@include t-layer(2);
			background: rgba(t-colour(tertiary), 0.98);
			content: '';
			height: 100vh;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
		}

		&::after {
			@include t-layer(2, 1);
			@include t-absolute-center;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-name: rotate-loading-icon;
			animation-timing-function: linear;
			background: svg-load('gb_loading.svg', fill=t-colour(secondary)) 50% 50% no-repeat;
			background-size: 100%;
			content: '';
			height: t-rem($loading-icon-size);
			position: fixed;
			width: t-rem($loading-icon-size);
		}
	}
}

@keyframes rotate-loading-icon {

	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}