@import 'settings/settings-selectors';
@import 'tools/tools-colours';
@import 'tools/tools-decoration';
@import 'tools/tools-helpers';
@import 'tools/tools-layout';

/* Template - Default
----------------------------------------- */

$base-selector: '.t-base';
$loading-icon-size: 40px;

#{ $base-selector } {
	position: relative;

	&#{ $s-loading-selector } {

		&::before {
			@include t-layer(4);
			background: rgba(t-colour(tertiary), 0.98);
			content: '';
			height: 100vh;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
		}

		&::after {
			@include t-absolute-center;
			@include t-layer(4, 1);
			@include t-loader(t-colour(secondary), $loading-icon-size);
			position: fixed;
		}
	}
}