@import 'settings/settings-selectors';
@import 'tools/tools-colours';
@import 'tools/tools-helpers';
@import 'tools/tools-layout';
@import 'tools/tools-typography';

/* Component - Specialties Icon
----------------------------------------------- */

$base-selector: '.c-specialties-symbol';

@mixin disc ($colour) {
	@include t-absolute-center;
	background-color: $colour;
	border-radius: 50%;
	content: '';
	height: 75%;
	width: 75%;
	z-index: -1;
}

#{ $base-selector } {
	color: t-colour(tertiary);
	line-height: 1;
	margin: 5% 0;
	max-width: t-rem(300px);
	position: relative;
	width: 100%;

	@include t-respond-to-min(large) {
		max-width: 100%;
	}

	.c-carousel__item:nth-of-type(even) & {

		#{ $base-selector }__cog {

			.transition-direction-start & {
				animation-direction: reverse;
			}
		}
	}

	.c-carousel__item:nth-of-type(odd) & {

		#{ $base-selector }__cog {
			animation-direction: reverse;

			.transition-direction-start & {
				animation-direction: normal;
			}
		}
	}
}

#{ $base-selector }__cog {
	@include t-absolute-center;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	background: svg-load('gb_specialties-cog.svg', fill=t-colour(tertiary)) 50% 50% no-repeat;
	height: 105%;
	width: 105%;
	z-index: -1;

	#{ $s-animated-selector } & {
		animation-name: a-cog-rotation;
	}
}

@keyframes a-cog-rotation {
	
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(166deg);
	}
}

#{ $base-selector }__icon {
	padding-top: 100%;
	position: relative;
	width: 100%;

	img {
		@include t-absolute-center;
		height: 50%;
		width: 50%;
	}

	&::before {
		@include disc(t-colour(secondary));
	}
}

#{ $base-selector }__caption {
	$transition: 0.5s ease-out;
	
	@include t-absolute-center;
	@include t-align-text(center);
	@include t-font('BebasNeue');
	@include t-responsive-type-size(large);
	display: flex;
	flex-flow: column;
	height: 100%;
	justify-content: center;
	line-height: 1!important; /* stylelint-disable-line declaration-no-important */
	opacity: 0;
	transform: translate(-50%, -50%) scale(0);
	transition: transform $transition, opacity $transition;
	width: 100%;

	&::before {
		@include disc(rgba(t-colour(primary), 0.9));
	}

	&-sub {
		display: block;
		width: 100%;
	}

	#{ $s-active-selector } & {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}
