<!doctype html>

<html class="no-js" lang="en">

	<head>
		
		<meta charset="utf-8"/>
		
		<title>Gearbox Design | Error</title>

		<% include ../partials/head %>

	</head>

	<body>

		<%- error %>

	 </body>

 </html>