@import 'animations/animations';
@import 'settings/settings-selectors';
@import 'settings/settings-transitions';
@import 'tools/tools-colours';
@import 'tools/tools-decoration';
@import 'tools/tools-helpers';
@import 'tools/tools-layout';
@import 'tools/tools-typography';

/* Component - Projects Detail
----------------------------------------- */

$base-selector: '.c-project-detail';

#{ $base-selector } {
	$loading-icon-size: 40px;

	&#{ $s-loading-selector } {
		margin-bottom: t-rem($loading-icon-size * 3);

		&::after {
			@include t-loader(t-colour(tertiary), t-rem($loading-icon-size));
			animation: a-fade map-get($s-transitions, loader); /* stylelint-disable-line no-unknown-animations */
			bottom: t-rem($loading-icon-size * -3);
			content: '';
			left: 50%;
			position: absolute;
		}
	}
}

#{ $base-selector }__heading {
	@include t-heading(xlarge, t-colour(secondary));
	@include t-responsive-vertical-spacing(medium, margin-bottom, xlarge);
}