@import 'tools/tools-colours';
@import 'tools/tools-layout';
@import 'tools/tools-typography';

/* Component - Projects Detail
----------------------------------------- */

$base-selector: '.c-project-detail';

#{ $base-selector } {
	@include t-constraint($min-gutter: 0);
}

#{ $base-selector }__heading {
	@include t-heading(xlarge, t-colour(secondary));
	@include t-responsive-vertical-spacing(medium, margin-bottom, xlarge);
}

#{ $base-selector }__features {
	list-style: none;
	margin: 0;
	padding: 0;
}