@import '~tools/tools-colours';
@import '~tools/tools-helpers';
@import '~tools/tools-layout';
@import '~tools/tools-typography';
@import '~tools/tools-utils';

/* Component - Page Header
------------------------- */

$base-selector: '.c-page-header';

#{ $base-selector } {
	@include t-constraint;
	@include t-vertical-spacing(xlarge, margin-bottom);
	color: t-colour(tertiary);
}

#{ $base-selector }__heading {
	@include t-heading(xxxlarge, t-colour(tertiary));
	@include t-vertical-spacing(large, (margin-bottom, margin-top), xxxlarge);

	&-container {
		@include t-align-text(center);
		
		@include t-respond-to-min(medium) {
			@include t-align-text(start);
		}
	}
}

#{ $base-selector }__description {
	@include t-font('OpenSans-light');
	@include t-responsive-type-size(medium);
	color: t-colour(tertiary);
}