@import 'tools/tools-colours';
@import 'tools/tools-helpers';
@import 'tools/tools-layout';
@import 'tools/tools-typography';

/* Component - Holding
----------------------------------------- */

$base-selector: '.c-holding';

#{ $base-selector } {
	@include t-absolute-center;
	text-align: center;
}

#{ $base-selector }__detail {
	text-align: center;
	width: 100%;
}

#{ $base-selector }__logo {
	display: inline-block;
}

#{ $base-selector }__heading {
	@include t-align-text(center);
	@include t-font('BebasNeue');
	@include t-heading(xxlarge, t-colour(tertiary));
	@include t-responsive-vertical-spacing(small, margin-top, xxxlarge);
	margin-bottom: 0;
}