// Tools - Decoration
// -------------------------

@import 'animations/animations';
@import 'settings/settings-selectors';
@import 'tools/tools-helpers';
@import 'tools/tools-layout';

// Mixins
// -------------------------

@mixin t-pointer ($dir, $size, $colour, $size) {
	$trans-style: t-rem($size) solid transparent;
	$fill-style: t-rem($size) solid $colour;

	position: relative;

	&::after {
		content: '';
		display: block;
		height: 0;
		position: absolute;
		width: 0;

		@if $dir == up {
			border-bottom: $fill-style;
			border-left: $trans-style;
			border-right: $trans-style;
			left: 50%;
			top: 0;
			transform: translate(-50%, -100%);
		}

		@if $dir == right {
			border-bottom: $trans-style;
			border-left: $fill-style;
			border-top: $trans-style;
			right: 0;
			top: 50%;
			transform: translate(100%, -50%);
		}

		@if $dir == down {
			border-left: $trans-style;
			border-right: $trans-style;
			border-top: $fill-style;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 100%);
		}

		@if $dir == left {
			border-bottom: $trans-style;
			border-right: $fill-style;
			border-top: $trans-style;
			left: 0;
			top: 50%;
			transform: translate(-100%, -50%);
		}
	}
}

/* stylelint-disable no-unknown-animations */
@mixin t-loader ($colour, $size) {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: a-center-rotation;
	animation-timing-function: linear;
	background: svg-load('gb_loading.svg', fill=$colour) 50% 50% no-repeat;
	background-size: 100%;
	display: inline-block;
	height: $size;
	width: $size;
}

/* stylelint-enable no-unknown-animations */

@mixin t-loader-overlay ($colour, $size, $bg-colour: null) {
	min-height: 100%;
	position: relative;

	&#{ $s-loading-selector } {
		
		&::before {
			@include t-layer(1, 1);

			@if ($bg-colour != null) {
				background-color: rgba($bg-colour, 0.9);
			}
			
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&::after {
			@include t-absolute-center;
			@include t-layer(1, 2);
			@include t-loader($colour, $size);
			content: '';
		}
	}
}