// Tools - Typography
// -------------------------

@import 'settings/settings-typography';
@import 'tools/tools-helpers';
@import 'tools/tools-media';
@import 'tools/tools-utils';

// Mixins
// -------------------------

/// @mixin t-font
/// Sets the unquoted font-family stack from the $s-font-families map.
///
/// @access public
/// @param {String} $font-name - A String which represents a key in the $s-font-families map.
///
/// @example
///	@include t-font('FontName');
@mixin t-font($font-name) {
	font-family: unquote(map-get($s-font-families, $font-name));
}

/// @mixin t-type-size
/// Sets the font-size and line-heights for a given $type-size for one specific $breakpoint-name.
///
/// @access public
/// @param {String} $type-size - A String which represents a type-size key in the $s-type-sizing map specifying the required type size.
/// @param {String} $breakpoint-name - A String which represents a breakpoint key in the $s-breakpoints map specifying the required breakpoint size.
///
/// @example
///	@include t-type-size(type-size, small);
@mixin t-type-size($type-size, $breakpoint-name: 'small') {

	@if (type-of($s-type-sizing) == map) {
		font-size: t-rem(t-map-value($s-type-sizing, ($type-size, $breakpoint-name, font-size)));
		line-height: t-rem(t-map-value($s-type-sizing, ($type-size, $breakpoint-name, line-height)));
	}
	@else {
		@warn('$s-type-sizing must be a valid map.');
	}
}

/// @mixin t-responsive-type-size
/// Sets the font-size and line-heights for a given $type-size for all breakpoints.
///
/// @access public
/// @param {String} $type-size - A String which represents a type-size key in the $s-type-sizing map specifying the required type size.
/// @param {String} $default-breakpoint-name - A String which represents a breakpoint key in the $s-breakpoints map in which to apply default styling. (Optional)
/// @example
///	@include t-responsive-type-size('type-size');
@mixin t-responsive-type-size($type-size, $default-breakpoint-name: 'small') {

	@include t-type-size($type-size, $default-breakpoint-name);

	@if (type-of($s-type-sizing) == map) {
		
		@each $breakpoint-name in map-keys(map-get($s-type-sizing, $type-size)) {
			
			@if ($breakpoint-name != $default-breakpoint-name) {
				
				@include t-respond-to-min(t-map-value($s-breakpoints, ($breakpoint-name, size))) {
					@include t-type-size($type-size, $breakpoint-name);
				}
			}
		}
	}
	@else {
		@warn('$s-type-sizing must be a valid map.');
	}
}

@mixin t-heading($size, $color) {
	@include t-font('BebasNeue');
	@include t-responsive-type-size($size);
	border-bottom: 0.1em solid $color;
	color: $color;
	display: inline-block;
	font-weight: normal;
	line-height: 1!important; /* stylelint-disable-line declaration-no-important */
}