// Tools - Buttons
// -------------------------

@import 'tools/tools-colours';
@import 'tools/tools-layout';
@import 'tools/tools-typography';
@import 'tools/tools-helpers';

// Mixins
// -------------------------

/// @mixin t-button
/// Sets standardised styles for button type components.
///
/// @access public
/// @param {String} $modifier-prefix - A String which represents the modifier prefix for usage in the selector.
///
/// @example
///	@include t-button('-');

// TODO: Hover states
@mixin t-button($modifier-prefix: '--') {
	
	$button-horizontal-padding: 24px;

	@include t-font('BebasNeue');
	@include t-responsive-type-size(large);
	@include t-responsive-vertical-spacing(xsmall, (padding-top, padding-bottom));
	background-color: t-colour(primary);
	border: none;
	border-bottom: t-rem(2px) solid rgba(t-colour(secondary), 0.2);
	color: t-colour(tertiary);
	cursor: pointer;
	display: inline-block;
	line-height: 1!important; /* stylelint-disable-line declaration-no-important */
	padding-left: t-rem($button-horizontal-padding);
	padding-right: t-rem($button-horizontal-padding);
	text-decoration: none;

	&#{ $modifier-prefix }invert {
		background: t-colour(tertiary);
		color: t-colour(primary);
	}

	&:disabled {
		opacity: 0.5;
	}
}
