// Tools - Buttons
// -------------------------

@import 'settings/settings-transitions';
@import 'tools/tools-colours';
@import 'tools/tools-layout';
@import 'tools/tools-typography';
@import 'tools/tools-helpers';

@keyframes pulse {

	0% {
		opacity: 0;
		transform: scale(0);
	}

	50% {
		opacity: 1;
		transform: scale(0.5);
	}

	100% {
		opacity: 0;
		transform: scale(1);
	}
}

// Mixins
// -------------------------

/// @mixin t-button
/// Sets standardised styles for button type components.
///
/// @access public
/// @param {String} $modifier-prefix - A String which represents the modifier prefix for usage in the selector.
///
/// @example
///	@include t-button('-');

// TODO: Hover states
@mixin t-button($modifier-prefix: '--') {
	
	$button-horizontal-padding: 24px;

	@include t-font('BebasNeue');
	@include t-responsive-type-size(large);
	@include t-responsive-vertical-spacing(xsmall, (padding-top, padding-bottom));
	background-color: t-colour(primary);
	border: none;
	border-bottom: t-rem(2px) solid rgba(0, 0, 0, 0.2);
	color: t-colour(tertiary);
	cursor: pointer;
	display: inline-block;
	line-height: 1!important; /* stylelint-disable-line declaration-no-important */
	padding-left: t-rem($button-horizontal-padding);
	padding-right: t-rem($button-horizontal-padding);
	position: relative;
	text-decoration: none;
	transition: color map-get($s-transitions, button);
	will-change: color;

	&#{ $modifier-prefix }invert {
		background: t-colour(tertiary);
		color: t-colour(primary);

		@include t-active {
			color: t-colour(secondary);
		}
	}

	&[disabled] {
		opacity: 0.5;
		
		&::before {
			display: none;
		}
	}

	&::before {
		background-color: rgba(0, 0, 0, 0.1);
		content: '';
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transform: scale(0);
		width: 100%;
	}

	@include t-active {
		
		&::before {
			animation: pulse map-get($s-transitions, button);
		}
	}
}