@import '~settings/settings-layout';
@import '~tools/tools-colours';
@import '~tools/tools-layout';
@import '~tools/tools-media';
@import '~tools/tools-typography';
@import '~tools/tools-helpers';

/* Component - Footer
----------------------------------------- */

$base-selector: '.c-footer';

#{ $base-selector } {
	background-color: t-colour(tertiary);
	border-top: 3px solid t-colour(secondary);
}

#{ $base-selector }__inner {
	@include t-constraint($max-gutter: $s-base-gutter * 2);
	@include t-vertical-spacing(xlarge, padding-top);
	@include t-vertical-spacing(medium, padding-bottom);
}

#{ $base-selector }__heading {
	@include t-font('BebasNeue');
	@include t-responsive-type-size(xxxxlarge);
	line-height: 0.7!important;
	margin-bottom: 0;
}

#{ $base-selector }__actions {
	margin-top: t-get-vertical-spacing(medium);

	@include t-respond-to-min(small) {
		margin-top: 0;
	}
}

#{ $base-selector }__caption {
	@include t-responsive-type-size(medium);
	@include t-vertical-spacing(small, padding-bottom, medium);
	border-bottom: 2px solid t-colour(secondary, bravo);

	&-main {
		display: inline-block;
	}

	&-pre {
		display: none;
		margin-right: t-rem(0.25em);

		@include t-respond-to-min(small) {
			display: inline-block;
		}
	}

	@include t-respond-to-min (small) {
		@include t-align-text(end);
		margin-top: 0;
	}
}

#{ $base-selector }__copyright {
	@include t-vertical-spacing(large, margin-top);
	@include t-vertical-spacing(small, padding-top, small);
	border-top: 2px solid t-colour(secondary, bravo);
	margin-bottom: 0;

	&:after {
		content: '\A9';
		margin-left: t-rem(4px);
	}
}

#{ $base-selector }__social-nav {
	display: flex;

	@include t-respond-to-min (small) {
		justify-content: flex-end;
	}

	&-link {
		margin-right: t-rem(8px);

		&:last-child {
			margin-right: 0;
		}

		@include t-respond-to-min(medium) {
			margin-right: t-rem(16px);
		}
	}
}