@import '~tools/tools-colours';
@import '~tools/tools-decoration';
@import '~tools/tools-layout';
@import '~tools/tools-typography';
@import '~tools/tools-media';

/* Component - Specialties
----------------------------------------- */

$base-selector: '.c-specialties';

#{ $base-selector } {
	@include t-constraint($min-gutter: 0);
}

#{ $base-selector }__icons-carousel,
#{ $base-selector }__detail-carousel {
	height: 100%;
}

#{ $base-selector }__icons-carousel {
	background-color: t-colour(secondary, charlie);
	position: relative;
	
	.c-carousel__control-button {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);

		&--prev {
			left: 0;
		}

		&--next {
			right: 0;
		}
	}

	@include t-respond-to-max(medium) {
		@include t-pointer(down, 16px, t-colour(secondary, charlie));
	}
} 

#{ $base-selector }__detail-carousel {
	background-color: lighten(t-colour(secondary), 0.1);
} 


#{ $base-selector }__heading {
	@include t-heading(xlarge, t-colour(secondary));
	@include t-vertical-spacing(medium, margin-bottom, xlarge);
}