@import '~settings/settings-layout';
@import '~tools/tools-media';

/* Component - GridRow
------------------------- */

$base-selector: '.b-grid-row';

body {
	overflow-x: hidden;
}

#{ $base-selector } {
	
	@mixin b-grid-row-modifiers ($breakpoint: null) {

		$selector-prefix: '';

		@if $breakpoint {
			$selector-prefix: '#{ $breakpoint }-';
		}

		// Alignment
		&--#{ $selector-prefix }top {
			align-items: flex-start;
		}

		&--#{ $selector-prefix }middle {
			align-items: center;
		}

		&--#{ $selector-prefix }bottom {
			align-items: flex-end;
		}

		&--#{ $selector-prefix }start {
			justify-content: flex-start;
		}

		&--#{ $selector-prefix }center {
			justify-content: center;
		}

		&--#{ $selector-prefix }end {
			justify-content: flex-end;
		}

		// Direction
		&--#{ $selector-prefix }reverse {
			flex-direction: row-reverse;
		}

		// Spacing
		&--#{ $selector-prefix }around {
			justify-content: space-around;
		}

		&--#{ $selector-prefix }between {
			justify-content: space-between;
		}
	}

	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-flow: row wrap;
	margin-left: t-rem(($s-grid-gutter * -1) / 2);
	margin-right: t-rem(($s-grid-gutter * -1) / 2);
	width: calc(100% + #{ t-rem($s-grid-gutter) });

	@include b-grid-row-modifiers;

	@each $breakpoint in map-keys($s-breakpoints) {
		
		@include t-respond-to-min($breakpoint) {
			@include b-grid-row-modifiers($breakpoint);
		}
	}
}