@import 'settings/settings-layout';
@import 'tools/tools-colours';
@import 'tools/tools-helpers';
@import 'tools/tools-layout';
@import 'tools/tools-typography';

/* Component - Page Header
----------------------------------------- */

$base-selector: '.c-skills';

#{ $base-selector } {
	@include t-constraint($min-gutter: 0);
}

#{ $base-selector }__heading {
	@include t-heading(xlarge, t-colour(secondary));
	@include t-vertical-spacing(medium, margin-bottom, xlarge);
}

#{ $base-selector }__content {
	@include t-panel;
	@include t-last-child;
	background-color: t-colour(tertiary);
	color: t-colour(secondary);
	min-height: 100%;
}

#{ $base-selector }__description {
	@include t-vertical-spacing(medium, margin-bottom);
}

#{ $base-selector }__list {
	list-style: none;
	padding-left: 0;

	&-item {
		$bullet-size: 16px;

		@include t-font('OpenSans-light');
		background: svg-load('gb_cog.svg', fill=t-colour(primary)) left center no-repeat;
		background-size: t-rem($bullet-size);
		padding-left: t-rem($bullet-size + ($bullet-size / 2));
	}
}

#{ $base-selector }__icons {
	$border-width: 3px;
	$item-padding: 40px;

	display: flex;
	flex-flow: row wrap;
	min-height: 100%;
	position: relative;

	&::before,
	&::after {
		@include t-absolute-center;
		background-color: t-colour(tertiary);
		content: '';
	}

	&::before {
		height: t-rem($border-width);
		width: calc(100% - #{ t-rem($s-base-gutter * 2) });
	}

	&::after {
		height: calc(100% - #{ t-rem($s-base-gutter * 2) });
		width: t-rem($border-width);
	}

	&-item {
		display: block;
		padding: t-rem($item-padding);
		width: 50%;
	}
}