@import 'animations/animations';
@import 'settings/settings-selectors';
@import 'tools/tools-colours';
@import 'tools/tools-layout';
@import 'tools/tools-media';

/* Template - Work
----------------------------------------- */

$base-selector: '.t-work';

#{ $base-selector }__projects {
	@include t-constraint($min-gutter: 0);

	&-inner {
		position: relative;
	}

	&-stripe {
		background-color: t-colour(tertiary);
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transform-origin: center top;
		width: 100%;

		@include t-respond-to-min(medium) {
			width: 66.666%;
		}

		#{ $s-animation-enabled-selector } & {
			animation: a-scale-y 0.5s ease-out both; /* stylelint-disable-line no-unknown-animations */
		}
	}
}